/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
  }
  /* End Variables */
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header-main */
.header-main {
  text-align: center;
}
.header-main h1 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.header-main h1::before {
  content: " ";
  position: absolute;
  width: 120px;
  height: 2px;
  transform: translateX(-50%);
  background-color: #333;
  left: 50%;
  bottom: -32px;
}
.header-main h1::after {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid #333;
  background-color: white;
  color: white;
  left: 50%;
  bottom: -40px;
}
.header-main p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* End Header-main */
/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: " ";
  position: absolute;
  height: 1px;
  background-color: white;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
header .container img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
header .container nav i {
  color: white;
}
header .container nav ul {
  display: flex;
}
@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0 0 0 / 50%);
  }
}
header .container nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
header nav ul li a.active, header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container .form {
  position: relative;
  width: 40px;
  height: 30px;
  margin-left: 30px;
  border-left: 1px solid white;
}
header .container .form i {
  position: absolute;
  font-size: 22px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: white;
}
/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-image: url(../images/logo.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: var(--transparent-color);
  padding: 50px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}
.landing .text .content {
  margin-left: 60px;
}
@media (max-width: 767px) {
  .landing .text .content {
    margin-left: 0px;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 1.5;
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
@media (max-width: 767px) {
.landing .change-background  {
    display: none;
}
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .bullets {
  position: absolute;
  bottom: 30px;
  left: 46%;
  transform: translateY(-50%);
  display: flex;
}
@media (max-width: 767px) {
  .landing .bullets{
    position: absolute;
    left: 43%;
  }
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets .active {
  background-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 50px;
}
.services .content .box {
  display: flex;
}
@media (max-width: 767px) {
  .services .content .box{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
}
.services .content .box i{
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .content .box i{
    margin: 0 0 30px;
  }
}
.services .content .box .text h2{
  margin-bottom: 40px;
  color: var(--main-color);
}
.services .content .box .text p {
  line-height: 2;
  color: #777;
}
/* End Services */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background-image: url(../images/world.jpeg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.design .image img {
  position: relative;
  bottom: -150px;
  right: -100px;
}
@media (max-width: 767px) {
  .design .image img{
    display: none;
  }
}
.design .image .design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .text {
  color: white;
  line-height: 2.5;
  padding: 40px;
  margin-left: 30px;
  background-color: var(--transparent-color);
  position: absolute;
  right: 0;
  width: 600px;
  height: 400px;
  align-items: center;
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .design .text h2{
    text-align: center;
  }
}
.design .text ul i{
  margin-right: 50px;
}
.design .text ul li {
  padding: 15px 0;
}
/* End Design */
/* Start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .content ul {
  display: flex;
  justify-content: center;
}
.portfolio .content li {
  padding: 10px;
}
.portfolio .content li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .images-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 60px;
}
.portfolio .images-content .box {
  overflow: hidden;
  position: relative;
}
.portfolio .images-content .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .images-content .box:hover img {
  transform: rotate(3deg) scale(1.1);
} 
.portfolio .images-content .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .images-content .box:hover .caption {
  bottom: 0;
}
.portfolio .images-content .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .images-content .box .caption p {
  color: var(--main-color);
}
.portfolio .buton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.portfolio a {
  background-color: var(--main-color);
  color: white;
  display: block;
  padding: 15px 20px;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
}
/* End portfolio */
/* Start Video */
.video {
  position: relative;
}
video {
  width: 100%;
}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: rgba(15, 116, 143, 0.9);
  color: white;
  text-align: center
}
.video .text h2 {
  margin: 0 0 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
}
.about img {
  position: relative;
  bottom: -150px;
  margin-top: -150px;
  max-width: 100%;
}
/* End About */
/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(..//images/وردة.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}
.stats::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.stats .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 70px;
  flex-wrap: wrap;
}
.stats .box {
  color: white;
  background-color: var(--transparent-color);
  padding: 50px;
}
@media (max-width: 767px) {
  .stats .box{
    flex-basis: 100%;
  }
}
.stats .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.stats .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .box p {
  font-size: 14px;
}
/* End Stats */
/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 150px;
}
.our-skills .container h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.our-skills .container p {
  line-height: 2;
  color: #777;
  text-align: center;
  margin-bottom: 60px
}
.our-skills .container .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .container .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
.our-skills .container .testimonials .content .text {
  line-height: 2;
  border-bottom: 1px solid #ccc;
}
.our-skills .container .testimonials .content .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.our-skills .container .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-skills .container .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 7px;
}
.our-skills .container .testimonials .bullets .active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .container .skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .container .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .container .skills .prog-holder .prog {
  background-color: #dedade;
  height: 30px;
}
.our-skills .container .skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our-skills .container .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.our-skills .container .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
/* End Skills */
/* Start Quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(..//images/Photo\ 2.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
  color: white;
}
.quote::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.quote .container {
  position: relative;
}
@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
.quote .container q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 40px;
}
.pricing .boxes .box {
  background-color: white;
  text-align: center;
}
.pricing .boxes .box .head {
  padding: 20px 40px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .boxes .box .head h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.pricing .boxes .box .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .boxes .box .head span::before {
  content: "$";
  position: relative;
  font-size: 25px;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}
.pricing .boxes .box .head span::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  right: -15px;
}
.pricing .boxes .box ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .boxes .box ul li {
  position: relative;
  padding: 20px;
}
.pricing .boxes .box ul li::after {
  content: " ";
  position: absolute;
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .boxes .box .foat a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
  font-weight: bold;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none
}
/* End Pricing */
/* Start Subscribe */
.Subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/صورة.jpg);
  background-size: cover;
  position: relative;
  color: white;
}
.Subscribe::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.Subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px){
  .Subscribe .container {
    flex-direction: column;
  }
}
.Subscribe .container form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.Subscribe .container form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.Subscribe .container form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
}
.Subscribe .container form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.Subscribe .container p {
  line-height: 2;
  margin-left: 15px;
}
@media (max-width: 991px){
  .Subscribe p {
    padding: 30px 0 0;
  }
}
/* End Subscribe */
/* Start Contact Us */
.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .container .content {
  display: flex;
  justify-content: space-between;
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form textarea {
  height: 200px;
}
.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}
.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
/* End Contact Us */
/* Start Footer */
.footer {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/logo.jpg);
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.footer::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.footer .container {
  position: relative;
}
.footer .container img {
  margin-bottom: 20px;
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .container .social-icons i {
  padding: 10px 15px;
}
.footer .container .copyrighy {
  margin-top: 60px;
}
.footer .container .copyrighy span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */